{% extends "base.html.twig" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1 class="text-2xl my-2">
        About this blogsite
    </h1>

    <h2 class="text-xl my-4">
        This blogsite is powered by the following frameworks and software:
    </h2>


<div class="flex flex-wrap">
    <a href="https://twig.symfony.com/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/twig.png') }}"
        >
    </a>
    <a href="https://tailwindcss.com/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/tailwind.png') }}"
        >
    </a>
    <a href="https://symfony.com/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/symfony.png') }}"
        >
    </a>
    <a href="https://mariadb.org/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/mariadb.png') }}"
        >
    </a>
    <a href="https://github.com/mailhog/MailHog"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/mailhog.png') }}"
        >
    </a>
    <a href="https://manjaro.org/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/manjaro.png') }}"
        >
    </a>
    <a href="https://vuejs.org/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/vue.png') }}"
        >
    </a>
    <a href="https://axios-http.com/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/axios.png') }}"
        >
    </a>
    <a href="https://www.jetbrains.com/phpstorm/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/phpstorm.png') }}"
        >
    </a>
    <a href="https://www.mysql.com/products/workbench/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/mysqlworkbench.png') }}"
        >
    </a>
    <a href="https://en.wikipedia.org/wiki/Linux"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/linux.png') }}"
        >
    </a>
    <a href="https://krita.org/en/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/krita.svg') }}"
        >
    </a>
    <a href="https://www.doctrine-project.org/"
       target="_blank"
       class="m-4"
    >
        <img class="w-32 h-32 rounded-2xl hover:animate-pulse"
             src="{{ asset('img/doctrine.png') }}"
        >
    </a>
</div>
{% endblock %}
