{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
    <h1 class="text-2xl mb-10">
        Welcome {{ user.name }}
    </h1>
    <div class="flex-none w-32 h-32 rounded-full shadow-xl my-4 border-4 border-amber-600">
        {% if user.avatar %}
            <img class="h-full w-full object-cover object-center rounded-full" src="{{ asset('uploads/avatar/image/' ~ user.avatar.filename) }}">
        {% else %}
            <img class="h-full w-full object-cover object-center rounded-full" src="{{ asset('img/avatar/' ~ (user.id % 3 + 1)  ~ '.png') }}">
        {% endif %}
    </div>
    <div>
        {{ form_start(avatarForm) }}
            {{ form_rest(avatarForm) }}
            <button class="btn bg-amber-600 text-white p-2 rounded-xl">
                Submit
            </button>
        {{ form_end(avatarForm) }}
    </div>
    <h2 class="text-xl mt-10 mb-4">
        Profile:
    </h2>
    {{ form_start(userForm) }}
        {{ form_rest(userForm) }}
        <button class="btn bg-amber-600 text-white p-2 rounded-xl mb-4">
            Submit
        </button>
    {{ form_end(userForm) }}
    <a href="{{ path('app_account') }}">
        <button class="bg-amber-600 text-white p-2 rounded-xl mb-10 flex">
            <p>⮜</p>
            <p class="ml-2 font-bold">Go back to account page</p>
        </button>
    </a>
{% endblock %}
