{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block content %}
    {% for blog in paginator.results %}
        <div class="flex gap-8 mb-16">
            <div class="flex-none w-32 h-32 rounded-full shadow-xl border-4 border-amber-600">
                    {% if blog.user.avatar %}
                        <img class="h-full w-full object-cover object-center rounded-full " src="{{ asset('uploads/avatar/image/' ~ blog.user.avatar.filename) }}">
                    {% else %}
                        <img class="h-full w-full object-cover object-center rounded-full" src="{{ asset('img/avatar/' ~ blog.user.id % 4 ~ '.png') }}">
                    {% endif %}
            </div>
            <div class="grow">
                <div class="flex flex-wrap">
                    <div class="w-full mb-2 text-lg flex">
                            <div class=" text-amber-600 underline font-semibold">
                                <a href="{{ path('app_blog_user_paginated', {'userId': blog.user.id, 'page': 1}) }}">
                                    {{ blog.user.name|trim }}
                                </a>
                            </div>
                            <div class="mx-2">
                                /
                            </div>
                            <div class="italic tracking-widest font-light">
                                {{ blog.publishDate|date('d F Y') }}
                            </div>
                            <div class="mx-2 font-light">
                                in
                            </div>
                            <div class="text-slate-600 underline font-semibold">
                                TAGS
                            </div>
                    </div>
                    <div class="h-max">
                        <a href="{{ path('app_blog_show', {'id': blog.id}) }}"
                           class="hover:text-amber-600 "
                        >
                            <div class="">
                                <h1 class="text-5xl my-2">
                                    {{ blog.title }}
                                </h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>No blogs found</p>
    {% endfor %}

    {% if paginator.hasToPaginate %}
        <div class="mx-auto flex justify-center text-xl gap-x-4 text-slate-600">
            {% if paginator.hasPreviousPage %}
                <a href="{{ path('app_blog_paginated', {page: paginator.previousPage}) }}"
                >
                    <img class="w-8 h-8 -scale-x-100"
                         src="{{ asset('/img/arrow.png') }}"
                    >
                </a>
            {% else %}
                <img class="w-8 h-8 -scale-x-100 grayscale opacity-50"
                     src="{{ asset('/img/arrow.png') }}"
                >
            {% endif %}

            {% for i in 1..paginator.lastPage %}
                {% if i == paginator.currentPage %}
                    <span class="px-2.5 bg-amber-700 text-white rounded-full">
                            {{ i }}
                        </span>
                {% else %}
                    <a href="{{ path('app_blog_paginated', {page: i}) }}"
                        class="px-2.5 hover:text-amber-600">
                        {{ i }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if paginator.hasNextPage %}
                <a href="{{ path('app_blog_paginated', {page: paginator.nextPage}) }}"
                >
                    <img class="w-8 h-8"
                         src="{{ asset('/img/arrow.png') }}"
                    >
                </a>
            {% else %}
                <img class="w-8 h-8 grayscale opacity-50"
                     src="{{ asset('/img/arrow.png') }}"
                >
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
