{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}


{% block content %}
    <div class="flex gap-8">
        <div class="flex-grow">
            <div {{
            vue_component('Blog', {
                'token' : csrf_token('edit-item'),
                'json' : json,
            })
            }}>
            </div>

            <div class="mb-10">
                {% if app.user %}
                    <h1 class="mt-10 text-2xl">Add your comments</h1>
                    {{ form(commentary_form) }}
                {% else %}
                    <h1 class="mt-10 text-2xl">Please login to add a comment</h1>
                    <a href="/login"
                       class="hover:text-amber-600 ">
                        <button class="bg-amber-800 text-white p-2 rounded-xl">
                            Go to login page
                        </button>
                    </a>
                {% endif %}
            </div>

            <div>
                <a href="{{ route }}"
                   class="hover:text-amber-600">
                    <button class="bg-amber-800 text-white p-2 rounded-xl">
                        Go back
                    </button>
                </a>
            </div>
        </div>
        <div class="flex-none w-3/12 ">
            <div class="flex gap-4">
                <div class="flex-none w-16 h-16 rounded-full shadow-xl border-2 border-amber-600">
                        {% if blog.user.avatar %}
                            <img class="h-full w-full object-cover object-center rounded-full " src="{{ asset('uploads/avatar/image/' ~ blog.user.avatar.filename) }}">
                        {% else %}
                            <img class="h-full w-full object-cover object-center rounded-full" src="{{ asset('img/avatar/' ~ blog.user.id % 4 ~'.png') }}">
                        {% endif %}
                </div>
                <div class="grow flex flex-wrap">
                    <div class="w-full mb-2 text-lg text-amber-600 underline font-semibold">
                        <a href="{{ path('app_blog_user_paginated', {'userId': blog.user.id, 'page': 1}) }}">
                            {{ blog.user.name|trim }}
                        </a>
                    </div>
                    <div class="mt-2">
                        {{ blog.user.biography }}
                    </div>
                </div>
            </div>

            <div class="my-4 w-full bg-amber-600 h-px">
            </div>
                <div class="italic tracking-widest font-light">
                    {{ blog.publishDate|date('d F Y') }} • {{ blog.publishDate|date('g:i') }}
                </div>
            <div class="my-4 w-full bg-amber-600 h-px">
            </div>
                <div class="text-slate-600 underline font-semibold">
                    TAGS
                </div>
        </div>
    </div>

{% endblock %}